<%= turbo_frame_tag dom_id(comment) do %>
  <%= content_tag :div do %>
    <em>Someone said <%= time_ago_in_words(comment.created_at) %> ago</em>
    <%= comment.body %>
    <%#= link_to 'ssshow', tweet_comment_path(@tweet, comment) unless @comment%>
    <%= link_to 'edit', edit_tweet_comment_path(@tweet, comment) %>
    <hr>
  <% end %>
<% end %>
