<%= turbo_stream_from @comment %>

<%= render @comment %>

<%= link_to 'Edit', edit_tweet_comment_path(@tweet, @comment) %> |
<%= link_to 'Back', tweet_path(@tweet), 'data-turbo-frame': :_top %>

<%#= link_to 'New Comment', new_tweet_comment_path(@comment) %> | 
<%#= link_to 'Edit', edit_tweet_comment_path(@comment) %>
