<%= turbo_stream_from @tweet %>

<%= turbo_frame_tag 'tweet' do %>
  <%= render @tweet %>

  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Back', tweets_path, 'data-turbo-frame': :_top %>
<% end %>

<div id='comments'>
  <h2>Comments</h2>
  <%= render @tweet.comments %>
</div>

<%= link_to 'New Comment', new_tweet_comment_path(@tweet) %> 
<%#= link_to 'Edit', edit_tweet_comment_path(@tweet) %>
